.portfolio-menu button.active, .portfolio-menu button:hover {
    color: #A5A6FF;
}

.portfolio-menu button {
    border: 0;
    background: transparent !important;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 18px;
    color: #2e2e37;
    cursor: pointer;
}


.image {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 25px;
}

/* .image img {
    min-width: 100%;
    position: relative;
    opacity: 0;
  } */

/* 
=========================
Fonts
=========================

font-family: 'Outfit', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* 
========================
Variables
========================
*/


:root {

    font-size: 15px;

    /* Primary */
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;

    /* Fonts */

    --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;

    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;

    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}

/* 
=======================
Setup
=======================
*/


img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

a {
    color: inherit;
}

/* 

Eye view

https://i.postimg.cc/9MtT4GZY/view.png' border='0' alt='view */

/*
=========================
Font Styling
=========================
*/

.custom-h5 {
    font-weight: 600;
    font-size: 24px;
    color: #130f49;
    padding: 0.5em 0;
}

.custom-h5 a {
    font-size: 21px;
}

.custom-h2 {
    font: var(--var-small-heading);
    color: #130f49;
    /* padding on .coin-base */
}

.custom-p {
    font: var(--var-para);
    color: #130f49;
}

.custom-span {
    color: white;
}

/* 
=====================
Classes
=====================
*/

/* LAYOUT */

.card-container {
    width: 100%;
    /* max-width: 400px; */
    margin: 2em auto;
    background-color: transparent;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

div.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.coin-base, .time-left, .card-attribute {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.card-attribute {
    padding-bottom: 1.5em;
    border-top: 2px solid var(--var-line-dark);
}

a.hero-image-container {
    position: relative;
    display: block;
    min-height: 297px;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the container */
}

.badge {
    background-color: #130f49 !important;
}

/* Details */

img.eye {
    position: absolute;
    width: 100%;
    max-width: 2em;
    top: 44%;
    left: 43%;
}

@media (min-width:400px) {
    img.eye {
        max-width: 3em;
    }
}

.hero-image-container::after {
    content: '';
    background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-color: hsla(221, 60%, 31%, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.hero-image-container:hover::after {
    opacity: 1;
}

.small-image {
    width: 1.2em;
    margin-right: .5em;
}

.small-avatar {
    width: 2em;
    border-radius: 200px;
    outline: 2px solid white;
    margin-right: 1.4em;
}

div.attribution {
    margin: 0 auto;
    width: 100%;
    font: var(--var-para);
    text-align: center;
    padding: 1.5em 0 4em 0;
    color: var(--var-line-dark);
}

.attribution a {
    color: var(--var-soft-blue);
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed;
}

.css-blurry-gradient {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 800px;
    height: 800px;
    border-radius: 50% 22% 40% 80%;
    filter: blur(100px);
    background: radial-gradient(circle at 50% 50%, rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
    opacity: 0.2;
}





.profile-badge {
    margin-left: 1px;
}

.profile-badge--light {
    background-color: #fff;
    color: #000;
}

.profile-badge--width-280 {
    width: 280px;
}

.profile-badge {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.08), 1px 0px 1px rgba(0, 0, 0, 0.08), -1px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.08), 1px 0px 1px rgba(0, 0, 0, 0.08), -1px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.08);
    padding: 0;
}

.profile-badge__header--light {

    background-color: #e9e5df;

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.profile-badge__header {
    padding: 12px 16px;
}

.profile-badge__header-logo-icon--light {
    color: #0a66c2;
}

.profile-badge__header-logo-icon {
    width: 84px;
    height: 21px;
    display: inline-block;
}

.profile-badge__content {
    padding: 0 16px;

}

.profile-badge__content-profile-image {
    margin: 12px 0 8px;
}

.artdeco-entity-image--circle-4 {
    width: 56px;
    height: 56px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: content-box;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 49.9%;
}

.artdeco-entity-image {
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.profile-badge__content-profile-name {
    padding: 0 0 4px;
    color: inherit;
}




h3, .large-text {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.33333;
    color: rgba(0, 0, 0, 0.9);
}

.profile-badge__content-profile-name-link {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    color: inherit;
}

.profile-badge__content-profile-headline {
    padding: 0 0 4px;
    font-size: 15px;
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    color: inherit;
}

h4, .medium-text {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.9);
}

.profile-badge__content-profile-company-school-info {
    padding: 0 0 4px;
    font-size: 10px;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    color: inherit;
}

h4, .medium-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.9);
}

.profile-badge__cta-btn--light {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #0073b1;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 167ms;
    transition-duration: 167ms;
    -webkit-transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, color, -webkit-box-shadow;
    transition-property: background-color, box-shadow, color;
    transition-property: background-color, box-shadow, color, -webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    -webkit-box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px rgba(0, 0, 0, 0), inset 0 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px rgba(0, 0, 0, 0), inset 0 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 24px;
    -webkit-box-shadow: inset 0 0 0 1px #0a66c2;
    box-shadow: inset 0 0 0 1px #0a66c2;
    color: #0a66c2;
}

.profile-badge__cta-btn {
    margin: 4px 16px 12px;
    color: inherit;
}


.profile-badge__header-logo-icon svg {
    width: 60px !important;
}

.profile-badge {
    background: rgba(255, 255, 255, 0.5);
    /* Semi-transparent background */
    backdrop-filter: blur(30px);
    /* Apply blur effect */
    border-radius: 10px;
    /* Optional: to round the corners */
    overflow: hidden;
    /* Ensure the blur doesn't spill outside the element */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: add a subtle shadow */
}

.elisc_tm_sidebar .menu ul li.active a, .elisc_tm_sidebar .menu ul li.current a, .elisc_tm_sidebar .menu ul li a:hover {
    color: #FF972D;
}

a {
    border-radius: .5rem !important;
}

.custom-card {
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);

}

.wrapper-form {
    /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    overflow: hidden;
    position: relative;
    filter: url(#gooey);
  }
  .wrapper-form span.circle {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .wrapper-form span.circle:nth-child(1) {
    color: #98b9fd;
    top: -1%;
    left: 102%;
    animation-duration: 12.5s;
    animation-delay: -11.6s;
    transform-origin: 5vw 6vh;
    box-shadow: -40vmin 0 10.9197313902vmin currentColor;
  }
  /* .wrapper-form span.circle:nth-child(2) {
    color: #130f49;
    top: 92%;
    left: 15%;
    animation-duration: 15.2s;
    animation-delay: -13.6s;
    transform-origin: 24vw 16vh;
    box-shadow: -40vmin 0 7.213957321vmin currentColor;
  } */
  /* .wrapper-form span.circle:nth-child(3) {
    color: #ffecac;
    top: 57%;
    left: 24%;
    animation-duration: 12.2s;
    animation-delay: -2.1s;
    transform-origin: -22vw -16vh;
    box-shadow: -40vmin 0 5.8466115218vmin currentColor;
  } */
  .wrapper-form span.circle:nth-child(4) {
    color: #f8e1a6;
    top: 54%;
    left: 71%;
    animation-duration: 14.9s;
    animation-delay: -6.6s;
    transform-origin: -5vw 6vh;
    box-shadow: 40vmin 0 13.9525915542vmin currentColor;
  }
  .wrapper-form span.circle:nth-child(5) {
    color: #f8e1a6;
    top: 32%;
    left: 5%;
    animation-duration: 15.2s;
    animation-delay: -3.2s;
    transform-origin: 25vw 12vh;
    box-shadow: -40vmin 0 6.832200784vmin currentColor;
  }
  .wrapper-form span.circle:nth-child(6) {
    color: #f8e1a6;
    top: -1%;
    left: -27%;
    animation-duration: 11.2s;
    animation-delay: -6.3s;
    transform-origin: 25vw -19vh;
    box-shadow: 40vmin 0 7.4856839955vmin currentColor;
  }
  .wrapper-form span.circle:nth-child(7) {
    color: #f8e1a6;
    top: 75%;
    left: 57%;
    animation-duration: 10.6s;
    animation-delay: -7.3s;
    transform-origin: 22vw 25vh;
    box-shadow: 40vmin 0 7.3873521962vmin currentColor;
  }
  /* .wrapper-form span.circle:nth-child(8) {
    color: #e45a84;
    top: 75%;
    left: 47%;
    animation-duration: 12.1s;
    animation-delay: -6.9s;
    transform-origin: 22vw -20vh;
    box-shadow: -40vmin 0 7.0537242889vmin currentColor;
  } */
  .wrapper-form span.circle:nth-child(9) {
    color: #98b9fd;
    top: 60%;
    left: 26%;
    animation-duration: 10.6s;
    animation-delay: -4.5s;
    transform-origin: -4vw 11vh;
    box-shadow: 40vmin 0 12.8396059188vmin currentColor;
  }
.code-link:hover{
    text-decoration: underline ;
}
  
.bostami-what-do-item .text .title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}
.bostami-what-do-item {
    border-radius: 12px;
    display: flex;
    gap: 20px;
    padding: 20px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.bg-prink {
    background-color: #fff4f4;
}
.bg-catkrill {
    background-color:#eef5fa;
}

.bostami-what-do-item.bg-prink i {
    color: #ff6080;
}
.bostami-what-do-item i {
    font-size: 35px;
}
.bostami-what-do-item.bg-catkrill i {
    color: #ff6080;
}